<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Bricoleur</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('./assets/img/bg2.jpg')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">BRICOLEUR SERVICES</h1>
                    <p class="lead text-white mt-3">
                        Bienvenue a notre services <br /> Plus de 13000 Bricoleur
                        et clients inscrit a notre site ... </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

    <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto py-3">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary"><span id="state1" countTo="70">1000</span>+</h1>
                                <h5 class="mt-3">Bricoleur</h5>
                                <p class="text-sm font-weight-normal">
                                    plus de 1000 Bricoleur inscrits a notre environnement web</p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary"> <span id="state2" countTo="15">5400</span>+</h1>
                                <h5 class="mt-3">Clients</h5>
                                <p class="text-sm font-weight-normal">
                                    Plus de 5400 Clients attents votre services
                                </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary" id="state3" countTo="4">420</h1>
                                <h5 class="mt-3">Mission</h5>
                                <p class="text-sm font-weight-normal">
                                    Chercher la Mission le plus proche a votre position
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-12 my-auto">
                    <h3 class="text-gradient text-primary mb-0">You liked it and</h3>
                    <h3>Want more?</h3>
                    <p class="pe-md-5 mb-4">
                        Most complex and innovative Design System Made by <a href="https://creative-tim.com/"
                            target="_blank">Creative Tim </a> . Check our latest Premium Bootstrap 5 UI Kit.

                        Designed for those who like bold elements and beautiful websites. Made of hundred of elements,
                        designed
                        blocks and fully coded pages, Material Kit is ready to help you create stunning websites and
                        webapps.
                    </p>
                    <div class="github-buttons">
                        <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2" target="_blank"
                            class="btn bg-gradient-primary mb-5 mb-sm-0">Upgrade to Pro</a>
                        <div class="github-button">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-12 my-auto">
                    <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2">
                        <img class="w-100 border-radius-lg shadow-lg"
                            src="https://s3.amazonaws.com/creativetim_bucket/products/46/original/material-kit-pro.jpg?1632843641"
                            alt="Product Image">
                    </a>
                </div>
            </div>
        </div>
    </section>



</div>